@import "mq";
@import "fonts";
@import "palette";
// @import "embed";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

// .element-atom,
// .interactive-atom {
//     margin: 0 !important;
// }

.gallery-container {
  overflow: hidden;
  display: flex;
  position: relative;
  // max-width: 1000px;
}

.gallery-wrapper {
  --gallery-width: -3120px;
  --gallery-speed: 40s;
  --gallery-speed-resume: 40s;
  --gallery-current-location: -77px;
  display: flex;

  &.first {
    animation: scrollLeft var(--gallery-speed) infinite linear;
  }

  &.second {
    animation: scrollResume var(--gallery-speed-resume) linear;
  }

  img {
    height: 350px;
    @include mq(desktop) {
      height: 480px;
    }
  }
}

.gallery-button {
  z-index: 1;
  height: 3rem;
  width: 3rem;
  border-radius: 70%;
  flex-shrink: 0;
  position: absolute;
  bottom: 20px;
  left: 10px;
  border: none;

  background-color: #121212;

  svg {
    display: none;
    margin: auto;

    fill: #c1d8fc;

    &.gallery-button--play.active,
    &.gallery-button--pause.active {
      display: block;
    }
  }
}

.gallery-slide,
.gallery-slide-duplicate {
  position: relative;
  display: flex;

  &__caption {
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial,
      "Lucida Grande", sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: rgba(12, 12, 12, 0.5);
    padding: 6px;
    position: absolute;
    bottom: 3px;

    &::selection {
      background: #ffe500;
      color: #121212;
    }
  }
}

@keyframes scrollLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(var(--gallery-width), 0, 0);
  }
}

@keyframes scrollResume {
  0% {
    transform: translate3d(0%);
  }
  100% {
    transform: translate3d(var(--gallery-width), 0, 0);
  }
}
