// @import "enhanced_fonts"; // for when you need special font features 
@import "fonts";
@import "mq";
@import "palette";
@import "dcr_enhancer"; //remove this line when using immersive weighting or the article template
@import "gallery"; //remove this line when using immersive weighting or the article template

.interactive-atom {
    margin: 0;
    padding: 0;
}

.ios, .android {
    //remove dark mode padding in apps
    figure.element.element-atom, figure.interactive.interactive-atom.interactive--loading {
        padding: 0 !important;
    }
}