<div class="interactive-wrapper">
    <div class='swiper-container'>
        <div class='scrolling-gallery scrolling-gallery__body swiper-wrapper'>
        {{#images}}
            <div class='swiper-slide'>
                <picture>
                    <source srcset="{{img-desktop}}" media="(min-width: 800px)">
                    <img src="{{img-mobile}}" alt="{{alt-text}}" />
                </picture>
                <span class="swiper-slide__caption">{{caption}}</span>
            </div>
        {{/images}}
        </div>
    </div>
</div>
